body {
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.App {
  text-align: left;
}

.header {
  text-align: center;
}

.logo {
  max-height: 4rem;
  padding-top: 1rem;
}

.all-heroes-list {
  background-color: #b4ddf0;
  padding: 1rem;
}

.sorted-heroes-list {
  background-color: #f5d09c;
  padding: 1rem;
}

.marvel-li {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
