ul {
  list-style-type: none;
}

.App {
  text-align: left;
}

.header {
  text-align: center;
}

.all-heroes-list {
  background-color: #f8faef;
  padding: 1rem;
}

.sorted-heroes-list {
  background-color: #e2f5e7;
  padding: 1rem;
}

.marvel-li {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
